<%= gravatar(current_user) %>

<dl class="profile">
  <dt>
    <%= t '.github' %>:
  </dt>
  <dd>
    <%= link_to "#{current_user.login}", "http://github.com/#{current_user.login}" %>
  </dd>
  <% if current_user.email.present? %>
    <dt>
      <%= t '.email' %>:
    </dt>
    <dd>
      <%= current_user.email %>
    </dd>
  <% end %>
  <dt>
    <%= t '.token' %>:
  </dt>
  <dd>
    <%= current_user.tokens.first.token %>
  </dd>
</dl>

<p class="notice">
  <%= raw t 'profiles.show.messages.notice' %>
</p>

<%= form_tag("profile", :method => :put) do %>
  <h4>
    <%= t '.your_locale' %>
  </h4>
  <%= select "user", "locale", I18n.available_locales.collect { |locale| [t("locales.#{locale}"), locale] }, {:include_blank => true, :selected => current_user.locale } %>
  <%= submit_tag(t('profiles.show.update_locale')) %>
<% end %>

