<h2><%= current_user.name %></h2>
<%= gravatar(current_user) %>

<dl class="profile">
  <dt>Github:</dt>
  <dd><%= link_to "#{current_user.login}", "http://github.com/#{current_user.login}" %></dd>
  <dt>E-Mail:</dt>
  <dd><%= current_user.email %></dd>
</dl>

<h4>Your tokens</h4>
<ul id="tokens">
  <% current_user.tokens.each do |token| %>
    <li>
      <%= token.token %>
      <%= link_to 'remove', '#' %>
    </li>
  <% end %>
</ul>
<%= link_to 'create', '#' %>

<h4>Your Repositories</h4>
<div id="my_repositories">
  <div class="spinner"></div>
</div>
<%= include_javascripts :user_profile %>
