<h2><%= @user.name %></h2>
<%= gravatar(@user) %>

<dl class="profile">
  <dt>Github:</dt>
  <dd><%= link_to "#{@user.login}", "http://github.com/#{@user.login}" %></dd>
  <dt>E-Mail:</dt>
  <dd><%= @user.email %></dd>
  <dt>Token:</dt>
  <dd><%= @user.tokens.first.token %></dd>
</dl>

<h4>Your Repositories</h4>
<div id="my_repositories">
  <div class="spinner"></div>
</div>
<%= include_javascripts :user_profile %>
