<h2><%= current_user.name %></h2>

<ul id="profile">
  <li><%= link_to "#{current_user.login} on Github", "http://github.com/#{current_user.login}" %></li>
  <li><%= current_user.email %></li>
</ul>

<h4>Your tokens</h4>
<ul id="tokens">
  <% current_user.tokens.each do |token| %>
    <li><%= token.token %> <%= link_to 'remove', '#' %></li>
  <% end %>
</ul>
<%= link_to 'create', '#' %>
