<li id="repository_{{id}}" class="repository {{color}}">
  <a href="#!/{{slug}}">{{slug}}</a>
  <a href="#!/{{slug}}/builds/{{last_build_id}}" class="build">#{{last_build_number}}</a>
  <p class="summary">
    <span class="duration_label">Duration:</span> <abbr class="duration" title="{{last_build_duration}}">-</abbr>,
    <span class="finished_at_label">Finished:</span> <abbr class="finished_at timeago" title="{{last_build_finished_at}}">-</abbr>
  </p>
  <span class="indicator"></span>
</li>
