<%- content_for(:body_id, 'stats') -%>

<h3>Sorry</h3>
<p>Statistics are disabled for now.</p>
<p> We're looking into a solution. If you want to help, please ping us!</p>

<!-- <div id="repo_count_container"></div> -->
<!-- <div id="build_count_container"></div> -->

<%= javascript_tag do %>
  var repo_count_chart;
  var build_count_chart;

  $(document).ready(function() {
    repo_count_chart = new Highcharts.Chart({
          chart: {
             renderTo: 'repo_count_container',
             type: 'spline'
          },
          title: {
             text: '<%= t '.total_projects' %>'
          },
          xAxis: {
             type: 'datetime',
             dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
             }
          },
          yAxis: {
             title: {
                text: '<%= t '.count' %>'
             },
             min: 0
          },
          tooltip: {
             formatter: function() {
                       return '<b>'+ this.series.name +'</b><br/>'+
                   Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' repos';
             }
          },
          series: [{
             name: '<%= t '.repo_growth' %>',
             data: [] <%#= @repo_graph_stats.map { |stats| [DateTime.parse(stats[:date]).to_i * 1000, stats[:total_growth]] }.to_json %>
          }]
       });

  repo_count_chart = new Highcharts.Chart({
       chart: {
          renderTo: 'build_count_container',
          type: 'column'
       },
       title: {
          text: '<%= t '.build_count' %>'
       },
       subtitle: {
          text: '<%= t '.last_month' %>'
       },
       xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: { // don't display the dummy year
             month: '%e. %b',
             year: '%b'
          }
       },
       yAxis: {
          title: {
             text: '<%= t '.count' %>'
          },
          min: 0
       },
       tooltip: {
          formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' builds';
          }
       },
       series: [{
          name: '<%= t '.total_builds' %>',
          data: [] <%#= @test_graph_stats.map { |stats| [DateTime.parse(stats[:date]).to_i * 1000, stats[:run_on_date]] }.to_json %>
       }]
    });

  });
<% end %>
