<% content_for :header do %>
	<div class="alert-message block-message <%= @build.passed? ? "success" : "error" %>">
		<%= @build.human_status_message %>
	</div>
<% end %>

<table class="build-info">
  <tr>
    <th>Repository&nbsp;:</th><td><%= @build.repository.slug %></td>
  </tr>
  <tr>
    <th>Build&nbsp;:</th><td>#<%= @build.number %></td>
  </tr>
  <tr><th>&nbsp;</th><td /></tr>
  <tr>
    <th>Duration&nbsp;:</th><td><%= build_duration(@build.started_at, @build.finished_at) %></td>
  </tr>
  <tr>
    <th>Commit&nbsp;:</th><td><%= @commit.commit[0..7] %> (<%= @commit.branch %>)</td>
  </tr>
  <tr>
    <th>Author&nbsp;:</th><td><%= @commit.author_name %></td>
  </tr>
  <tr>
    <th>Message&nbsp;:</th><td><%= h(@commit.message).gsub("\n", "<br>").html_safe %></td>
  </tr>
  <tr><th>&nbsp;</th><td /></tr>
  <tr>
    <th>Status&nbsp;:</th><td><%= @build.status_message %></td>
  </tr>
</table>

<br>

View the changeset&nbsp;: <%= @commit.compare_url %><br>
<br>
View the full build log and details&nbsp;: <%= user_repo_build_redirect_url(:user => @build.repository.owner_name, :repository => @build.repository.name, :id => @build.id )%>

