<div id="right" class="maximized">
  <div class="slider"><div class='icon'></div>&nbsp;</div>
  <div class="inner"><div class='wrapper'>
    <h4><%= t 'layouts.application.sponsers' %></h4>
    <div class="sponsors top"></div>
    <p class="hint"><a href="https://love.travis-ci.org/sponsors"><%= raw t 'layouts.application.sponsors_link' %></a></p>
    <div id="workers"></div>
    <div id="jobs"></div>
    <div class="box">
      <h4><%= t 'layouts.application.sponsers' %></h4>
      <div class="sponsors bottom"></div>
    </div>
    <%= render partial: "layouts/about" %>
  </div></div>
</div>
<div id="github"><a href="https://github.com/travis-ci" title="Fork me on GitHub"><%= t 'layouts.application.fork_me' %></a></div>

