<div id="sponsors" class="box">
  <h4>Thank you, sponsors!</h4>
  <p>Special thanks go out to:</p>
  <ul>
    <li><a href="http://heroku.com">Heroku</a> for sponsoring the application plattform.</li>
    <li><a href="http://enterprise-rails.com">Enterprise Rails</a> for sponsoring three worker boxes.</li>
    <li><a href="http://engineyard.com">Engine Yard</a> for sponsoring two worker boxes.</li>
    <li><a href="http://railslove.com">Railslove</a> for sponsoring a worker box.</li>
    <li><a href="http://shopify.com">Shopify</a> for sponsoring a worker box and a shop.</li>
    <li><a href="http://pusherapp.com">Pusher.app</a> for a "big boy" account for messaging.</li>
    <li><a href="http://postmarkapp.com">Postmark.app</a> for unlimited email delivery.</li>
    <li><a href="http://thoughtbot.com">thoughtbot</a> for a large <a href="http://airbrakeapp.com/">AirBrake</a> plan.</li>
    <li><a href="http://redistogo.com">RedisToGo</a> for running Redis for us.</li>
    <li><a href="http://gk.site5.com/t/393">Site5</a> for running our AMQP broker box.</li>
  </ul>
  <div>
    <%= link_to image_tag('/assets/logos/heroku.png'), 'http://heroku.com' %>
    <%= link_to image_tag('/assets/logos/enterprise-rails.png'), 'http://enterprise-rails.com' %>
    <%= link_to image_tag('/assets/logos/engineyard.png', :style => 'border: 0'), 'http://engineyard.com' %>
    <%= link_to image_tag('/assets/logos/railslove.png'), 'http://railslove.de' %>
    <%= link_to image_tag('/assets/logos/shopify.png', :style => 'border: 0'), 'http://shopify.com' %>
    <%= link_to image_tag('/assets/logos/pusher.png'),   'http://pusherapp.com' %>
    <%= link_to image_tag('/assets/logos/postmark.png'), 'http://postmarkapp.com' %>
    <%= link_to image_tag('/assets/logos/thoughtbot.png'), 'http://thoughtbot.com' %>
    <%= link_to image_tag('/assets/logos/redistogo.png'), 'http://redistogo.com' %>
    <%= link_to image_tag('/assets/logos/site5.jpeg'), 'http://gk.site5.com/t/393' %>
  </div>
</div>
