<div id="top">
  <%= link_to "<h1>Travis</h1>".html_safe, root_path %>

  <ul id="navigation">
    <%= top_bar_menu_item('Home', root_path) %>
    <%= top_bar_menu_item('Stats', stats_path) %>
    <%= top_bar_menu_item('Blog', 'http://about.travis-ci.org/blog') %>
    <%= top_bar_menu_item('Docs', 'http://about.travis-ci.org/docs') %>
  </ul>

  <div class="profile">
    <% if user_signed_in? %>
      <%= link_to profile_path do %>
        <%= gravatar(current_user, :size => 24) %>
        <span class="name"><%= current_user.name || current_user.login %></span>
      <% end %>
      <ul>
        <li><%= link_to "Profile", profile_path %></li>
        <% if current_user.is_admin? %>
          <li><%= link_to "Admin", '#' %></li>
        <% end %>
        <li><%= link_to "Sign out", destroy_session_path %></li>
      </ul>
    <% else %>
      <%= link_to "Sign in with Github", user_omniauth_authorize_path(:github), :class => "profile-signup" %>
    <% end %>
  </div>
</div>