<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Travis CI</title>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.ico">

    <%= stylesheet_link_tag 'mobile' %>
    <%= javascript_include_tag 'mobile' %>

    <%= yield :head %>
  </head>

  <body id="<%= body_id %>">
    <div id="repositories_list" class="page inactive">
      <header><h1>Travis</h1></header>
      <script type="text/x-handlebars">
        {{#collection tagName="ul" id="repositories" contentBinding="Travis.Controllers.Repositories.List.content" itemView="Ember.View" itemClassBinding="content.cssClasses" class="menu"}}
          <a {{bindAttr href="content.urlCurrent"}} class="slug">{{content.slug}}</a>
        {{/collection}}
      </script>
    </div>
    <div id="builds_list" class="page inactive">
      <header><h1>Travis</h1></header>
      <script type="text/x-handlebars">
        <div id="repository">
          <h2><span {{bindAttr class="Travis.Controllers.Builds.List.lastStatus"}}></span><a {{bindAttr href="Travis.Controllers.Builds.List.repository.urlGithub"}}>{{Travis.Controllers.Builds.List.repository.slug}}</a></h2>

          <p class="description">{{Travis.Controllers.Builds.List.repository.description}}</p>

          {{#collection tagName="ul" id="builds" contentBinding="Travis.Controllers.Builds.List.builds" itemViewClass="Ember.View" itemClassBinding="content.color" class="menu"}}
            <a {{bindAttr href="content.url"}}><span class="result"></span><%= t('.build') %>  #{{content.number}}</a>
          {{/collection}}
        </div>
      </script>
    </div>
    <div id="jobs_list" class="page inactive">
      <header><h1>Travis</h1></header>
      <script type="text/x-handlebars">
        {{#with Travis.Controllers.Builds.Show}}
          <div {{bindAttr class="content.color"}} id="build">
            <h2><span class="result"></span><%= t('.build') %> #{{content.number}}</h2>
            <h3><a {{bindAttr href="repository.urlGithub"}}>{{repository.slug}}</a></h3>

            <ul class="info">
              <li><label for="finished_at"><%= t('.finished_at') %></label> <span id="finished_at">{{content.formattedFinishedAt}}</span></li>
              <li><label for="duration"><%= t('.duration') %></label> <span id="duration">{{content.formattedDuration}}</span></li>
              <li><label for="commit"><%= t('.commit') %></label> <span id="commit">{{content.formattedCommit}}</span></li>
              {{#if content.compare_url}}
              <li>
                <label for="compare_view"><%= t('.compare') %></label>
                <span id="compare_view"><a {{bindAttr href="content.compare_url"}}>{{content.formattedCompareUrl}}</a></span>
              </li>
              {{/if}}
              {{#if content.author_name}}
              <li>
                <label for="author"><%= t('.author') %></label>
                <span id="author"><a {{bindAttr href="content.urlAuthor"}}>{{content.author_name}}</a></span>
              </li>
              {{/if}}
              {{#if content.commiter_name}}
              <li>
                <label for="committer"><%= t('.committer') %></label>
                <span id="committer"><a {{bindAttr href="content.urlCommitter"}}>{{content.committer_name}}</a></span>
              </li>
              {{/if}}
            </ul>

            <div class="commit-message">{{{content.formattedMessage}}}</div>

            <h3><%= t('.build_matrix') %></h3>
            {{#collection tagName="ul" contentBinding="content.matrix" itemViewClass="Ember.View" itemClassBinding="content.color" class="matrix menu"}}
              <a {{bindAttr href="content.url"}}><span class="result"></span>{{content.number}}</a>
            {{/collection}}
          </div>
        {{/with}}
      </script>
    </div>
    <div id="job_page" class="page inactive">
      <header><h1>Travis</h1></header>
      <script type="text/x-handlebars">
        {{#with Travis.Controllers.Jobs.Show}}
          <div {{bindAttr class="content.color"}} id="job">
            <h2><span class="result"></span><%= t('.job') %> #{{content.number}}</h2>

            <ul class="info">
              <li>
                <label for="finished_at"><%= t('.finished_at') %></label>
                <span id="finished_at">{{content.formattedFinishedAt}}</span>
              </li>
              <li>
                <label for="duration"><%= t('.duration') %></label>
                <span id="duration">{{content.formattedDuration}}</span>
              </li>
              <li>
                <label for="commit"><%= t('.commit') %></label>
                <span id="commit"><a {{bindAttr href="content.build.urlGithubCommit"}}>{{content.formattedCommit}}</a></span>
              </li>
              {{#if content.compare_url}}
              <li>
                <label for="compare_view"><%= t('.compare') %></label>
                <span id="compare_view"><a {{bindAttr href="content.compare_url"}}>{{content.formattedCompareUrl}}</a></span>
              </li>
              {{/if}}
              {{#if content.author_name}}
              <li>
                <label for="author"><%= t('.author') %></label>
                <span id="author"><a {{bindAttr href="content.build.urlAuthor"}}>{{content.author_name}}</a></span>
              </li>
              {{/if}}
              {{#if content.committer_name}}
              <li>
                <label for="committer"><%= t('.committer') %></label>
                <span id="committer"><a {{bindAttr href="content.build.urlCommitter"}}>{{content.committer_name}}</a></span>
              </li>
              {{/if}}
            </ul>

            <p class="commit-message">{{{content.formattedMessage}}}</p>

            <h3><%= t('.config') %></h3>
            <p class="config">{{{content.formattedConfig}}}</p>

            <h3><%= t('.log') %></h3>
            <pre class="log">{{{content.formattedLog}}}</pre>
          </div>
        {{/with}}
      </script>
    </div>
  </body>
</html>
