<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.ico">

    <%= render :partial => 'layouts/assets' %>

    <%= yield :head %>
  </head>

  <body id="profile">
    <%= render 'layouts/top' %>

    <div id="flash-messages"></div>

    <div id="left">
      <%= render 'profiles/left' %>
    </div>

    <div id="main">
      <%= yield %>
    </div>

    <!--
    <div id="right">
      <%= render 'profiles/right' %>
    </div>
    -->

    <%= render 'layouts/google_analytics' %>
  </body>
</html>
