<!doctype html>
<!--[if lt IE 7 ]>             <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>                <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>                <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>                <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Travis CI - Distributed build platform for the Ruby community</title>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.ico">
    <% if Rails.env.jasmine? %>
      <%= stylesheet_link_tag 'jasmine' %>
      <%= include_javascripts :jasmine %>
    <% end %>
    <%= stylesheet_link_tag 'application', 'jquery.tipsy.css' %>
    <%= include_javascripts :travis %>
    <% if Rails.env.test? %>
      <%= include_javascripts :capybara %>
    <% end %>
    <%= javascript_tag "var env = '#{Rails.env}';" %>
  </head>

  <body id="<%= body_id %>">
    <div id="top">
      <h1>Travis</h1>

      <ul id="navigation">
        <%= top_bar_menu_item('Home', root_path) %>
        <%= top_bar_menu_item('Profile', profile_path) if user_signed_in? %>
        <%= top_bar_menu_item('Admin', '#') if user_signed_in? && current_user.is_admin? %>
        <%= top_bar_menu_item('Stats', stats_path) %>
        <%= top_bar_menu_item('About', '#', :class => "tool-tip", :title => "Coming Soon!") %>
      </ul>

      <%= render 'layouts/user_profile' %>

      <a id="github_ribbon" class="ribbon" href="http://github.com/travis-ci/travis-ci" title="Fork me on GitHub">Fork me on Github</a>
    </div>

    <div id="flash-messages"></div>

    <div id="main">
      <%= yield %>
    </div>

  </body>
</html>
