<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Travis CI - Distributed build platform for the open source community</title>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.ico">

    <%= render :partial => 'layouts/assets' %>

    <%= yield :head %>
  </head>

  <body id="<%= body_id %>">
    <%= render 'layouts/top' %>

    <div id="flash-messages"></div>

    <div id="main">
      <%= yield %>
    </div>

    <%= render 'layouts/google_analytics' %>
  </body>
</html>
